/*FUENTES*/
@font-face{
    font-family:"fajala"; 
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*GENERALES*/
*{   
    height: auto;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
}

.clearfix{
    clear: both;
    float: none;
    
}

body{
    background: url(../Images/Cubes.png) #F4F4F4;
    
}

/*CABECERA*/

#header{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;
}

/*LOGOTIPO*/

#logo{
    float: left;
    width: 540px;
    height: 100px;
    padding-left: 120px;
    
}

#logo a{
    font-family: "fajala", Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979CD;
    text-shadow:0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    transition: all 500ms;
    line-height: 90px;
}

#logo a:hover{
    cursor: pointer;
    text-shadow:0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
    
}

/*MENU*/

#menu{
    clear: both;
    width: 70%;
    height: 45px;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #C9C9C9;
    border-radius: 8px;
    padding-left: 100px;
    box-shadow: 0px 1px 1px #CCC;
    overflow: hidden;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    float: left;
    line-height: 45px;
    border-right: 1px solid #D6D6D6;
    color: #999;
}

#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #aba6a6;
}

#menu ul li a:hover{
    background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
    
    
}

/*CONTEINER*/

#container{
    width: 85%;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*SIDEBAR*/

#sidebar{
    float: right;
    width: 30%;
    height: auto;
    
}

.block-aside{
    display: block;
    width: 65%;
    margin: 0px auto;
    margin-bottom: 30px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 0px #FFFFFF inset, 0px -3px 2px rgba(0,0,0,0.25) inset;
}

#estadoRegistro{
    color: green;
    font: bolder oblique calc;
}

#errorMessages{
    color: red;
}

label, 
input[type="text"], 
input[type="email"],
input[type="password"]{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="button"], 
input[type="submit"]
{
    display: block;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: #2979CD;
    border: 1px solid #156785;
    cursor: pointer;   
    margin-top: 20px;
}

.boton{
    display: block;
    padding: 5px;   
    border-radius: 5px;
    color: white;
    background: #2979CD;
    border: 1px solid #156785;
    cursor: pointer;   
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    text-align: center;
}

.boton-entrada{
    background-color: green;
    border-color: darkgreen;
    
}

.boton-cerrarSesion{
    background-color: red;   
}

.boton-mi_cuenta{
    background-color: orange;
}

.boton-crear_categoria{
    
}


input[type="text"], 
input[type="email"],
input[type="password"]{
    margin-bottom: 10px;
    padding: 5px;
}



.block-aside h3{
    margin-bottom: 20px;
}


/*MAIN CONTENT*/

#mainContent{
    float: left;
    width: 65%;
    min-height: 534px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 20px;
    padding: 15px;
    overflow: hidden;
}

#mainContent a{
    color: #333;
}

#mainContent h1{
    font-size: 32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px #ccc;
    font-family: "fajala";
}

#mainContent h2{
    font-size: 22px;
    margin-top: 25px;
    color: #2979CD;
    text-shadow: 1px 1px #ccc;
    letter-spacing: 1px;
    font-family: "fajala";
}

#mainContent p{
    margin-top: 8px;
}

.informacion_entrada{
    margin-top: 10px;
    color: #4e4e4e;
    font-size: 15px;
}


#view-all{
    margin-top: 45px;
}

#view-all a{
    display: block;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: #2979CD;
    border: 1px solid #156785;
    cursor: pointer;
    width: 200px;
    margin: 0px auto;
    margin-top: 10px;
}

#pie{
    clear: both;
    width: 80%;
    margin: 0px auto;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #C9C9C9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #666;
    height: auto;
    padding: 4px;
    text-align: center;
    margin-top: 30px;
}




